<h1 [attr.aria-label]="heading[0]" class="text-heading">{{ heading[0] }}</h1>
<p [attr.aria-label]="subheading" class="text-subheading">
  {{ subheading }}
</p>
<div>
  <div class="service-content">
    <article>
      <h2 [attr.aria-label]="heading[1]" class="text-heading">
        {{ heading[1] }}
      </h2>
      <nav>
        <ul class="text-subheading">
          <li [attr.aria-label]="service" *ngFor="let service of services">
            {{ service }}
          </li>
        </ul>
      </nav>
    </article>
    <img
      class="service-background"
      src="/service-bg.png"
      alt="Person making pizza"
    />
  </div>
</div>
