<header
  style="
    background: url(./header.jpeg) no-repeat center;
    background-size: cover;
  "
  class="h-small w-full sm:h-large"
>
  <app-banner
    class="flex h-full w-full items-center justify-center bg-shadow text-center"
  />
</header>
<main class="flex flex-col items-center justify-center text-center">
  <app-services class="flex w-full flex-col gap-20 p-8 sm:p-20" />
  <app-promotion
    style="
      background: url(./promotion.jpeg) no-repeat center;
      background-size: cover;
    "
    class="h-full w-full"
  />
  <app-menu class="flex w-full flex-col gap-20 p-8 sm:p-20" />
</main>
<footer
  style="
    background: url(./footer.jpeg) no-repeat center;
    background-size: cover;
  "
  class="h-small w-full sm:h-large"
>
  <app-banner
    class="flex h-full w-full items-center justify-center bg-shadow text-center"
  />
</footer>
