<header
  class="h-small w-full bg-header bg-cover bg-center bg-no-repeat sm:h-large"
>
  <app-banner
    class="flex h-full w-full items-center justify-center bg-shadow text-center"
  />
</header>
<main class="flex flex-col items-center justify-center text-center">
  <app-services class="flex w-full flex-col gap-20 p-8 sm:p-20" />
  <app-promotion
    class="bg-promotion h-full w-full bg-cover bg-center bg-no-repeat"
  />
  <app-menu class="flex w-full flex-col gap-20 p-8 sm:p-20" />
</main>
<footer
  class="bg-footer h-small w-full bg-cover bg-center bg-no-repeat sm:h-large"
>
  <app-banner
    class="flex h-full w-full items-center justify-center bg-shadow text-center"
  />
</footer>
