<div>
  <app-heading-section
    [attr.aria-label]="'Services section'"
    [title]="heading[0]"
  />
  <app-text-section
    [attr.aria-label]="subheading"
    [isListItem]="false"
    [title]="subheading"
  />
</div>
<div class="grid grid-cols-1 items-center justify-center gap-8 lg:grid-cols-2">
  <article class="flex flex-col justify-center text-center lg:text-start">
    <app-heading-section
      [attr.aria-label]="'Services offered'"
      [title]="heading[1]"
    />
    <nav>
      <ul>
        <app-text-section
          *ngFor="let service of services"
          [attr.aria-label]="service"
          [isListItem]="true"
          [title]="service"
        />
      </ul>
    </nav>
  </article>
  <img
    class="lg:h-small h-64 w-full rounded-lg bg-cover object-cover shadow-lg"
    src="./services.jpeg"
    alt="Person preparing a delicious pizza dough"
  />
</div>
