@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.cdnfonts.com/css/apercu");

@layer global {
  :root {
    --color-green: #228b22;
    --color-red: #cd212a;
    --color-white: #ffffff;
  }
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body,
  html {
    scroll-behavior: smooth;
    height: 100%;
    font-family: "Apercu", "sans-serif";
  }

  img,
  picture,
  svg,
  video,
  canvas {
    object-fit: cover;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}
