@layer menu.components {
  :host {
    width: 100%;
  }

  .text-heading {
    color: var(--color-red);
  }

  .menu-list {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    grid-template-columns: 1fr;
    width: 75%;
    margin: 2rem auto;

    li {
      flex: 1;
      padding: 0.5rem 1rem;
      transition: all 300ms ease-in-out;
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 0.75rem;

      &:hover {
        border: 1px solid var(--color-red);
        color: var(--color-red);
      }

      &.active {
        background-color: var(--color-red);
        border: 1px solid var(--color-red);
        color: var(--color-white);
      }
    }
  }

  .menu-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    text-align: left;

    .menu-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .menu-item {
        display: flex;
        justify-content: space-between;

        .text-heading {
          width: 70%;
        }

        .menu-price {
          font-weight: bold;
        }
      }

      .text-subheading {
        margin: 0;
      }
    }
  }
}

@layer menu.responsiveness {
  @media (min-width: 640px) {
    .menu-list {
      grid-template-columns: repeat(2, 1fr);
      margin: 4rem auto;
    }

    .menu-container {
      grid-template-columns: repeat(2, 1fr);

      .menu-item {
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  /* For screens 768px and wider */
  @media (min-width: 768px) {
    .menu-list {
      grid-template-columns: repeat(2, 1fr);
      margin: 4rem auto;
    }
  }

  /* For screens 1024px and wider */
  @media (min-width: 1024px) {
    .menu-list {
      grid-template-columns: repeat(4, 1fr);
      margin: 4rem auto;
    }
  }

  /* For screens 1280px and wider */
  @media (min-width: 1280px) {
    .menu-list {
      grid-template-columns: repeat(4, 1fr);
      margin: 4rem auto;
    }
  }
}
