<h1 [attr.aria-label]="heading" class="text-heading">{{ heading }}</h1>
<p [attr.aria-label]="subheading" class="text-subheading">
  {{ subheading }}
</p>
<nav>
  <ul class="menu-list text-subheading">
    <li
      [attr.aria-label]="menu[0]"
      [class.active]="selectedMenu == 'traditional'"
      (click)="handleClick('traditional')"
    >
      {{ menu[0] }}
    </li>
    <li
      [attr.aria-label]="menu[1]"
      [class.active]="selectedMenu == 'special'"
      (click)="handleClick('special')"
    >
      {{ menu[1] }}
    </li>
    <li
      [attr.aria-label]="menu[2]"
      [class.active]="selectedMenu == 'sweet'"
      (click)="handleClick('sweet')"
    >
      {{ menu[2] }}
    </li>
    <li
      [attr.aria-label]="menu[3]"
      [class.active]="selectedMenu == 'fit'"
      (click)="handleClick('fit')"
    >
      {{ menu[3] }}
    </li>
  </ul>
</nav>
<div class="menu-container" [ngSwitch]="selectedMenu">
  <!-- #region traditional-->
  <div class="menu-content" *ngSwitchCase="'traditional'">
    <div *ngFor="let item of getTraditional().leftContent">
      <div class="menu-item">
        <h2 [attr.aria-label]="item.heading" class="text-heading">
          {{ item.heading }}
        </h2>
        <span [attr.aria-label]="item.price" class="text-subheading menu-price"
          >$ {{ item.price }}</span
        >
      </div>
      <p [attr.aria-label]="item.subtitle" class="text-subheading">
        {{ item.subtitle }}
      </p>
    </div>
  </div>
  <div class="menu-content" *ngSwitchCase="'traditional'">
    <div *ngFor="let item of getTraditional().rightContent">
      <div class="menu-item">
        <h2 [attr.aria-label]="item.heading" class="text-heading">
          {{ item.heading }}
        </h2>
        <span [attr.aria-label]="item.price" class="text-subheading menu-price"
          >$ {{ item.price }}</span
        >
      </div>
      <p [attr.aria-label]="item.subtitle" class="text-subheading">
        {{ item.subtitle }}
      </p>
    </div>
  </div>
  <!-- #endregion -->
  <!-- #region special-->
  <div *ngSwitchCase="'special'">
    <div class="menu-content" *ngSwitchCase="'special'">
      <div *ngFor="let item of getSpecial().leftContent">
        <div class="menu-item">
          <h2 [attr.aria-label]="item.heading" class="text-heading">
            {{ item.heading }}
          </h2>
          <span
            [attr.aria-label]="item.price"
            class="text-subheading menu-price"
            >$ {{ item.price }}</span
          >
        </div>
        <p [attr.aria-label]="item.subtitle" class="text-subheading">
          {{ item.subtitle }}
        </p>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'special'">
    <div class="menu-content" *ngSwitchCase="'special'">
      <div *ngFor="let item of getSpecial().rightContent">
        <div class="menu-item">
          <h2 [attr.aria-label]="item.heading" class="text-heading">
            {{ item.heading }}
          </h2>
          <span
            [attr.aria-label]="item.price"
            class="text-subheading menu-price"
            >$ {{ item.price }}</span
          >
        </div>
        <p [attr.aria-label]="item.subtitle" class="text-subheading">
          {{ item.subtitle }}
        </p>
      </div>
    </div>
  </div>
  <!-- #endregion -->
  <!-- #region sweet-->
  <div *ngSwitchCase="'sweet'">
    <div class="menu-content" *ngSwitchCase="'sweet'">
      <div *ngFor="let item of getSweet().leftContent">
        <div class="menu-item">
          <h2 [attr.aria-label]="item.heading" class="text-heading">
            {{ item.heading }}
          </h2>
          <span
            [attr.aria-label]="item.price"
            class="text-subheading menu-price"
            >$ {{ item.price }}</span
          >
        </div>
        <p [attr.aria-label]="item.subtitle" class="text-subheading">
          {{ item.subtitle }}
        </p>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'sweet'">
    <div class="menu-content" *ngSwitchCase="'sweet'">
      <div *ngFor="let item of getSweet().rightContent">
        <div class="menu-item">
          <h2 [attr.aria-label]="item.heading" class="text-heading">
            {{ item.heading }}
          </h2>
          <span
            [attr.aria-label]="item.price"
            class="text-subheading menu-price"
            >$ {{ item.price }}</span
          >
        </div>
        <p [attr.aria-label]="item.subtitle" class="text-subheading">
          {{ item.subtitle }}
        </p>
      </div>
    </div>
  </div>
  <!-- #endregion -->
  <!-- #region fit-->
  <div *ngSwitchCase="'fit'">
    <div class="menu-content" *ngSwitchCase="'fit'">
      <div *ngFor="let item of getFit().leftContent">
        <div class="menu-item">
          <h2 [attr.aria-label]="item.heading" class="text-heading">
            {{ item.heading }}
          </h2>
          <span
            [attr.aria-label]="item.price"
            class="text-subheading menu-price"
            >$ {{ item.price }}</span
          >
        </div>
        <p [attr.aria-label]="item.subtitle" class="text-subheading">
          {{ item.subtitle }}
        </p>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'fit'">
    <div class="menu-content" *ngSwitchCase="'fit'">
      <div *ngFor="let item of getFit().rightContent">
        <div class="menu-item">
          <h2 [attr.aria-label]="item.heading" class="text-heading">
            {{ item.heading }}
          </h2>
          <span
            [attr.aria-label]="item.price"
            class="text-subheading menu-price"
            >$ {{ item.price }}</span
          >
        </div>
        <p [attr.aria-label]="item.subtitle" class="text-subheading">
          {{ item.subtitle }}
        </p>
      </div>
    </div>
  </div>
  <!-- #endregion -->
</div>
